{% for d in data %}
	<div class="table-responsive"> 

		<table class="table table-bordered ">
		  <thead>
			
			<tr>
				<td><b>{{d[2]}}</b></td>
			</tr>
			<tr>
				<td>ID:{{d[0]}}</td>
				
				<td>участвуем как 
				{% if d[1] == 0 %}Заказчик
				{% elif d[1] == 1 %}Уполномоченный орган
				{% endif %}
				</td>
				
		
				
				<td>{{tasks_category[d[3]][1]}}</td>

				<td>{{d[4]}}</td>

				<td>
				{% if d[9] == 1 %}Разработка общей части
				{% elif d[9] == 2 %}Разработка информационной карты
				{% elif d[9] == 3 %}Разработка технического задания
				{% elif d[9] == 4 %}Разработка обоснований НМЦК
				{% elif d[9] == 5 %}Разработка проекта контракта
				{% elif d[9] == 6 %}Обобщить данные				
				{% endif %}
				</td>
				
				<td>
				{% if d[10] == 0 %}необходимо разработать
				{% elif d[10] == 1 %}согласован
				{% elif d[10] == 2 %}требует доработки
				{% elif d[10] == 3 %}отправлен на проверку
				{% endif %}
				</td>
			</tr>
		  </thead>
		  <tbody>

			<tr>
				<td colspan='6'>
					<form action="upload\{{d[7]}}" method='post' enctype='multipart/form-data'>
					 <input type='file'  name='file[]'>
					 <input type='submit' value='Загрузить'>
					</form>
				<div id='files_{{d[7]}}'>{{d[7]}}</div>
				</td>
				
				{% if d[9] == 6 %}
				<tr>
					<td colspan='6'>
						<div id='all_files_{{d[0]}}'></div>
					</td>
				</tr>
				{% else %}
				{% endif %}
			</tr>

		  </tbody>
		</table>
		
	</div>

<script>
        $(document).ready(function(){
            show_files{{d[7]}}();
        });
		
		function show_files{{d[7]}}()
        {
            $.ajax({
				method: 'get',
                url: "/upload/{{d[7]}}",
                cache: false,
                success: function(html){
                    $("#files_{{d[7]}}").html(html);
                }
            });
        }
</script>

<script>
        $(document).ready(function(){
            all_show_files{{d[0]}}();
        });
		
		function all_show_files{{d[0]}}()
        {
            $.ajax({
				method: 'get',
                url: "/ob/{{d[0]}}",
                cache: false,
                success: function(html){
                    $("#all_files_{{d[0]}}").html(html);
                }
            });
        }
</script>

{% endfor %}