
<div id='isp'>

{% for d in data %}
	<div class="table-responsive"> 

		<table class="table table-bordered ">
		  <thead>
			
			<tr>
				<td>
					<p>id: {{d[0]}}</p>
					<p><b>{{d[2]}}</b></p>
					<p>статус:
					{% if d[5] == 4 %}Исполнен
					{% elif d[5] == 2 %}Требуется доработка
					{% elif d[5] == 1 %}Утверждено директором
					{% else %}В работе
					{% endif %}
					</p>
					
					<p class='ispolnen_{{d[0]}}'>контрольный срок: {{d[4]}}</p>
					
					<p>
					Комментарий начальника:
					{{ d[6] }}
					</p>
				</td>

			</tr>
			
			
			<tr>

				<td>{{tasks_category[d[3]][1]}}
				
				участвуем как 
				{% if d[1] == 0 %}Заказчик
				{% elif d[1] == 1 %}Уполномоченный орган
				{% endif %}
				
				,<b>
				Ваша задача:
				{% if d[9] == 1 %}разработка общей части
				{% elif d[9] == 2 %}разработка информационной карты
				{% elif d[9] == 3 %}разработка технического задания
				{% elif d[9] == 4 %}разработка обоснований НМЦК
				{% elif d[9] == 5 %}разработка проекта контракта
				{% elif d[9] == 6 %}обобщить данные				
				{% endif %},
				</b>
				
				статус:
				{% if d[10] == 0 %}<b style='background-color: yellow;'>необходимо разработать</b>
				{% elif d[10] == 1 %}<b style='background-color: #08ea08;'>согласован</b>
				{% elif d[10] == 2 %}<b style='background-color: red;'>требует доработки</b>
				{% elif d[10] == 3 %}<b style='background-color:#b9b9fd;'>отправлен на проверку</b>
				{% endif %}
				</td>
			</tr>
		  </thead>
		  <tbody>

			<tr>
				<td>
				<div class="form-group">
					<form action="upload/{{d[7]}}" method='post' enctype='multipart/form-data' id='2check_file{{d[7]}}'>
					 <input type='file'  class="btn btn-primary" name='file[]' id='check_file{{d[7]}}'>
					 <br>
					 <input type='submit' class="btn btn-primary btn-lg" id='submit' value='Загрузить'>
					</form>
				</div>
				
				
				<div id='files_{{d[7]}}'>{{d[7]}}</div>
				</td>
</tr>				
				{% if d[9] == 6 %}
				<tr>
					<td colspan='6'>
						<div id='all_files_{{d[0]}}'></div>
					</td>
				</tr>

				{% else %}
				{% endif %}
			

		  </tbody>
		</table>
		
	</div>

<script>
        $(document).ready(function(){
            show_files{{d[7]}}();
        });
		
		function show_files{{d[7]}}()
        {
            $.ajax({
				method: 'get',
                url: "/upload/{{d[7]}}",
                cache: false,
                success: function(html){
                    $("#files_{{d[7]}}").html(html);
                }
            });
        }
</script>

<script>
        $(document).ready(function(){
            all_show_files{{d[0]}}();
        });
		
		function all_show_files{{d[0]}}()
        {
            $.ajax({
				method: 'get',
                url: "/ob/{{d[0]}}",
                cache: false,
                success: function(html){
                    $("#all_files_{{d[0]}}").html(html);
                }
            });
        }
</script>

<script>
		function isp_reload()
        {
            $.ajax({
				method: 'get',
                url: "/isp",
                cache: false,
                success: function(html){
                    $("#isp").html(html);
                }
            });
        }
</script>
{% endfor %}
</div>