{% include '/header.html' %}
{% include '/menu.html' %}
 
<style>

#chat_body{
	box-shadow: -18px 0 20px -20px #333, 18px 0 20px -20px #333;
    background-color: aliceblue;
	border-radius: 5px;
    padding: 10px;
	max-width:500px;
	height:400px;
	position: fixed; /* Абсолютное позиционирование */
    bottom: 15px; /* Положение от нижнего края */
    right: 15px; /* Положение от правого края */
    line-height: 1px;
}

#chat_box {
	width:100%;
	mix-height: 30%;
    line-height: 1px;
	bottom: 1px;
}

#chat {
	min-height: 70%;
	display:grid;
	width:100%;
	height: 300px;
    line-height: 1px;
}
</style>
	<div id='chat_body'><div class="container">
		<div id='chat'>Чат не работает</div>
		
		<div id='chat_box'>
			  <input type='text' class="form-control" id="post_chat_text" placeholder="текст">
			  <button class="btn btn-primary btn-lg btn-block" type="button" id="post_chat">Отправить</button>
		</div>
		
	</div></div>
<div class="container">
	<div id='main'></div>
</div><!-- container -->
<audio id="chatAudio"><source src="/static/notify.mp3" type="audio/mpeg">
<audio id="chatAudioCat"><source src="/static/cat.mp3" type="audio/mpeg">
</body>

<!-- Отображение информации на главной странице согласно рангу -->
<script>
{% if session['user_rank'] == 0 %}
	$(document).ready(function(){
			function show()
			{
				$.ajax({
					url: "/0actual",
					cache: false,
					success: function(html){
						$("#main").html(html);
					}
				});
			}

			$(document).ready(function(){
				show();
			});
	});

</script>
{% elif session['user_rank'] == 1 %}
	$(document).ready(function(){
			function show()
			{
				$.ajax({
					url: "/isp",
					cache: false,
					success: function(html){
						$("#main").html(html);
					}
				});
			}

			$(document).ready(function(){
				show();
			});
	});
	</script>
{% elif session['user_rank'] == 2 %}
	$(document).ready(function(){
			function show()
			{
				$.ajax({
					url: "/isp",
					cache: false,
					success: function(html){
						$("#main").html(html);
					}
				});
			}

			$(document).ready(function(){
				show();
			});
	});
	</script>
{% else %}
	У Вас нет полномочий на просмотр данных.
{% endif %}


<script>
    $(document).on('click', '#add', function() {
		function show()
		{
			$.ajax({
				url: "/add",
				cache: false,
				success: function(html){
					$("#main").html(html);
				}
			});
		}

		$(document).ready(function(){
			show();
		});
    });

   $(document).on('click', '#status1', function() {
		function show()
		{
			$.ajax({
				url: "/status1",
				cache: false,
				success: function(html){
					$("#main").html(html);
				}
			});
		}

		$(document).ready(function(){
			show();
		});
    });

   $(document).on('click', '#status0', function() {
		function show()
		{
			$.ajax({
				url: "/status0",
				cache: false,
				success: function(html){
					$("#main").html(html);
				}
			});
		}

		$(document).ready(function(){
			show();
		});
    });
	
   $(document).on('click', '#users', function() {
		function show()
		{
			$.ajax({
				url: "/users",
				cache: false,
				success: function(html){
					$("#main").html(html);
				}
			});
		}

		$(document).ready(function(){
			show();
		});
    });	


//Добавить задачу	
   $(document).on('click', '#add_tasks', function() {
		function show()
		{
			$.ajax({
				url: "/add_tasks",
				cache: false,
				success: function(html){
					$("#main").html(html);
				}
			});
		}

		$(document).ready(function(){
			show();
		});
    });	
	
</script>

<!-- ЧАТ -->

<script>
	$(document).ready(function(){
		var timerId = setInterval(function() {
			chat();
			}, 5000);
	});


			function chat()
			{
				$.ajax({
					url: "/static/chat.db",
					cache: true,
					ifModified: true,
					success: function(result, textStatus, xhr, status){

				            if(xhr.status == 304)
            {
				//nothing
            }
            else
            {
				
				$('#chatAudio')[0].play(); 
				show_chat_massage();
				
            }
					
					}
				});
			}


			
		function show_chat_massage()
		{
			$.ajax({
				url: "/chat",
				cache: false,
				success: function(html){
					$("#chat").html(html);
				}
			});
		}
		
		

$("#post_chat").click(function(){
	var one = $('#post_chat_text').val()
    $.post("/chat",
    {
		'one': one,
    },
    function(data, status){
		alert(status);
    });
        $(document).ready(function(){
			show_chat_massage()
        });
});

		
</script>
</html>