
<table class="table table-bordered ">
	<tbody>
		{{files}}
		{% for f in files %}
		<tr>
			<td>
				<a href='download\{{f[0]}}\{{f[1]}}'>
								{% if f[6] == 1 %}Общая часть
								{% elif f[6] == 2 %}Информационная карта
								{% elif f[6] == 3 %}Техническое задание
								{% elif f[6] == 4 %}Обоснование НМЦК
								{% elif f[6] == 5 %}Проект контракта
								{% elif f[6] == 6 %}Обобщенные данные
								{% endif%}
				</a>
			</td>
			
			
			<td>
				<p>Файл загружен: {{f[2][8:10]}}.{{f[2][5:7]}}.{{f[2][0:4]}} в {{f[2][11:]}}</p>
			</td>
			
			<td>
				{% if f[7] == 3 %}На проверке
				{% elif f[7] == 2 %}Требует доработки
				{% elif f[7] == 1 %}Согласован
				{% elif f[7] == 0 %}в работе
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
