
<table class="table table-bordered ">
	<tbody>
		{% for f in files %}
		<tr>
			<td>
				<a href='download\{{f[0]}}\{{f[1]}}'>Файл
				</a>
			</td>
			
			
			<td>
				<p>Файл загружен: {{f[2][8:10]}}.{{f[2][5:7]}}.{{f[2][0:4]}} в {{f[2][11:]}}</p>
			</td>
			
			<td>
				Исполнители: <div id='isp{{f[0]}}'></div>
			</td>
			
			<td>
					{% if f[7] == 3 %}У Вас на согласование
					{% elif f[7] == 2 %}Отправлен на доработку
					{% elif f[7] == 1 %}Утвержден
					{% elif f[7] == 0 %}В работе
					{% endif %}
			</td>

			<td>		

				<div class="form-group">
					<button type="button" class="btn btn-success" value='1' id="task_status1_{{f[0]}}">Согласован</button>
					<button type="button" class="btn btn-danger" value='2' id="task_status2_{{f[0]}}">Отправить на доработку</button>
				</div>

			</td>
			<script>
				$("#task_status1_{{f[0]}}").click(function(){
					var one = $(this).val()
					$.get("/status/{{f[0]}}/"+one,
					{},
					function(data, status){
					});
					
					$.get("/status_main/{{f[0]}}/"+one,
					{
						
					},
					function(data, status){
					});
					
						$(document).ready(function(){
							boss_reload();
						});
				});
			</script> 
				
			<script>
				$("#task_status2_{{f[0]}}").click(function(){
					var one = $(this).val()
					$.get("/status/{{f[0]}}/"+one,
					{
						
					},
					function(data, status){
					});
					
					$.get("/status_main/{{f[0]}}/"+one,
					{
						
					},
					function(data, status){
					});
					
						$(document).ready(function(){
							boss_reload();
						});
				});
			</script>
			
			<script>
			   $(document).ready(function(){ 
						$.ajax({
							url: "/executors/{{f[0]}}",
							cache: false,
							success: function(html){
								$("#isp{{f[0]}}").html(html);
							}
						});
					});

			</script>
		</tr>
		{% endfor %}
	</tbody>
</table>
